<div id="profile-show">
  <div id="profile">
    <div id="profile_img">
      <%= cl_image_tag(@users.img_url.key, class: "avatar-profile") %>
    </div>
    <br>
    <div id="profile-details">
      <h1><%= @users.first_name %> <%= @users.last_name %> </h1>
      <h4>username: <%= @users.username %></h4>
      <br>
      <h5>Gender: <%= @users.gender %></h5>
      <h5>Age: <%= @users.age %></h5>
      <br>
      <%= button_to "edit", profile_edit_path(@users.id), { class: "btn" } %>
    </div>
  </div>
  <div id="existing">
    <div id="existing-listings">
      <h2>Your listings</h2>
      <% @user.listings.each do %>
        <% |listing| %>
        <%= listing.title %>
        <%= listing.description %>
        <%= listing.img_url %>
      <% end %>
    </div>
    <div id="existing-bookings">
      <h2>Your bookings</h2>
    </div>
  </div>
</div>
