<div class="grid-container">
  <% @listings.each_with_index do |listing, i| %>
    <div id="carousel<%= i %>" class="card-trip carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag(listing.img_urls[0].key, class: "d-block w-100 offer-img", height: "200px") %>
              </div>
                <% listing.img_urls[1..-1].each do |picture| %>
                <div class="carousel-item">
                  <%= cl_image_tag(picture.key, class: "d-block w-100 offer-img" , height: "200px")  %>
                </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= i %>" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel<%= i %>" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
  <% end %>
</div>
