<!DOCTYPE html>
<html>
  <head>
    <title>AIRBNB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;400&family=PT+Serif&display=swap" rel="stylesheet">
<!-- font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Serif', serif; -->

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
